/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    "sans-serif",
    "Helvetica",
    "Arial",
    "LiHei Pro",
    "黑體-繁",
    "微軟正黑體",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: rgb(245, 256, 250);
  color: #3f424b;
  overscroll-behavior: none;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  overscroll-behavior: none;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 50px;
}

p {
  margin: 0;
  padding: 0;
  color: #4285f4;
}

a {
  text-decoration: none;
  color: #3f424b;
}

input,
button {
  font-size: 14px;
}

input:focus::placeholder {
  color: transparent;
}

::placeholder {
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.54);
}

::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

.backupServerTag {
  color: #222;
  z-index: 99999;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  user-select: none;
}
