.main {
  background-color: #ff4c30;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family:
    Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
}

.container {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fdf6f1;
}

.bottom {
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 10%;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  color: #fdf6f1;
}
