.title {
  margin: 30px 0;
}

.queryBar {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  padding: 0 10px;
  margin-bottom: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgb(112, 169, 179);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border: 1px solid rgb(3, 138, 255);
}

.textarea {
  grid-row: 1 / -1;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  resize: none;
  min-height: 160px;
  border: 1px solid rgb(112, 169, 179);
}

.textarea:focus,
.textarea:hover {
  outline: none;
  border: 1px solid rgb(3, 138, 255);
}

.conversation {
  margin: 30px 10px 30px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 1fr;
  background-color: transparent;
  padding: 30px 0;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bot {
  background: rgb(247, 247, 248);
}

.content {
  text-align: left;
  word-wrap: break-word;
  text-overflow: ellipsis;
  padding: 0 10px;
  color: #000;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.options {
  max-height: calc(42px + 55vh);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.optionsHidden {
  max-height: 42px;
}

.options .subtitle {
  padding: 10px;
  margin: 0;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.options .optionContainer {
  display: grid;
  gap: 5px;
  border-radius: 0 0 5px 5px;
  background-color: rgb(247, 247, 248);
  max-height: 55vh;
  overflow: auto;
}

.options .option {
  display: grid;
  grid-template-columns: 1fr 80px;
  border-bottom: 1px solid rgb(112, 169, 179);
  transition: all 0.3s ease-in-out;
}
.options .option:last-child {
  border-bottom: none;
}

.options .question,
.options .delete {
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 10px;
}

.options .delete {
  border: 1px solid rgb(112, 169, 179);
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
