.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.switchUserSelection {
  margin: 15px 0;
  padding: 0 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

.switchUserButton {
  border: 0;
  background: rgb(96, 180, 223);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.iframe {
  flex: 1;
  border: 0;
}
