.switchUserSelection {
  height: 100%;
  margin: 15px 0;
  padding: 0 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switchUserButton {
  height: 50px;
  border: 0;
  background: rgb(96, 180, 223);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
