.header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.container {
  background-color: #fff;
  box-shadow: 0 13px 13px -10px #00000014;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.logoContainer h3 {
  color: #323232;
  padding: 0 10px 0 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 550;
}

.logoutSign,
.navSign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 60px;
}

.logoutSign button,
.navSign button {
  background-color: #fff;
  border: 1px solid #323232;
  border-radius: 50px;
  padding: 5px 20px;
  color: #323232;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.navItems {
  display: grid;
  grid-template-columns: 125px 1fr 100px;
  gap: 50px;
  padding: 0 50px 0 50px;
  max-height: 60px;
  align-items: start;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.navItems:hover {
  max-height: 175px;
}

.navLinks {
  display: flex;
  justify-content: space-around;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.navList li {
  list-style: none;
  padding: 5px 0 15px 0;
  margin: 0;
}

.navItems .navSubList {
  border-left: 1px solid #e0e0e0;
  margin-left: 5px;
}

.navItems .navList ul {
  padding-left: 20px;
}

.navSign {
  display: none;
}

@media (max-width: 1023px) {
  .navItems {
    display: flex;
    justify-content: space-between;
  }

  .navSigns {
    display: flex;
    gap: 20px;
  }

  .navSign {
    display: flex;
  }

  .navLinks {
    position: absolute;
    background-color: rgb(245, 256, 250);
    top: 60px;
    left: 100vw;
    height: calc(100vh - 70px);
    height: calc(100dvh - 70px);
    width: 0;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition:
      left 0.3s ease-in-out,
      width 0.3s ease-in-out,
      padding 0.3s ease-in-out;
  }

  .navLinksActive {
    left: 0;
    width: 100vw;
    padding: 10px 0 0 0;
  }

  .navLinks > ul {
    margin-left: 30px;
  }

  .navItems {
    max-height: 75px;
  }

  .navSignActive button {
    background-color: #323232;
    color: #fff;
  }

  .navList li {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    height: auto;
  }
}
